<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <div class="page-content">
      <div class="header-background"><div class="color"></div><div class="text"><h1>AusQRC 2024<br>Quantum-Resistant Cybersecurity in Australia</h1><h3>Monash University, Clayton Campus, Melbourne, Australia</h3><h3>19 Nov 2024</h3></div></div>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include hemline.html %}

  </body>

</html>
